* {
  box-sizing: border-box;
}
@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 400;
  font-style: bold;
}
@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: 400;
  font-style: bold;
}
@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
 @font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open-sans-bold;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 400;
  font-style: bold;
}
body {
  font-family: open-sans-r, sans-serif;
}
.header {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.header:after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
}
.nav-menu {
  list-style-type: none;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
  display: flex;
} 
.list {
 margin-left: 30px;
}
.link {
 font-size: 0.93rem;
 font-weight: 400;
}
.link, .title-link, .logo-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
} 
.nav-button {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  background-color: transparent;
}
.button-other {
  padding: 1.5px 11.5px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
} 
.blog-title {
  margin-left: auto;
  margin-right: auto; 
}
.main-title {
  color: #ffffff;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.trend-title {
  text-align: center;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
}
.trend-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
.trend-wrap {
  width: 100%;
  display: flex;
}
.trend-first {
  background-image: url(../images/trend1.jpg);
}
.trend-second {
  background-image: url(../images/trend2.jpg);
}
.trend-third {
  background-image: url(../images/trend3.jpg);
}
.trend-fourth {
  background-image: url(../images/trend4.jpg);
}
.trend {
  padding: 10rem 1rem 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}
.trend:after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
}
.post-frame {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  border: 3px solid #b59f5b;
}
.trend-list {
  padding-top: 0;
  padding-left: 0;
}
.category, .category-link {
  display: inline-block;
  margin-right: 3px;
  font-size: 0.93rem;
  font-weight: 700;
  color: #b59f5b;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
}
.topic-link {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
}
@media (min-width: 1200px) {
html {
  font-size: 93.75%;
}
.header {
  background-image: url("../images/banner-bg.jpg");
}
.logo {
  width: 12rem;
}
.header-wrap {
  padding-top: 30px;
  margin-left: 13rem;
  margin-right: 13rem;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}  
.nav-button {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.blog-title {
  width: 65%;
  padding-top: 105px;
  padding-bottom: 130px;
}
.main-title {
  font-size: 3rem;
}
.trend-now {
  padding-top: 50px;
}
.trend-title {
 font-size: 1.33rem;
}
.trend {
  width: 24.8%;
  margin-left: 3px;
}
.post-frame {
  padding: 30px 20px;
}
.topic-link {
  font-size: 1.3rem;
}
} 
@media (min-width: 641px) and (max-width: 1200px) {
html {
  font-size: 87.5%;
}
.header {
  background-image: url("../images/banner-bg-tablet.jpg");
}
.logo {
  width: 11rem;
}
.header-wrap {
  padding-top: 44px;
  margin-left: 2.6rem;
  margin-right: 2.6rem;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}  
.nav-menu {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 
.navigation-lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.blog-title {
  width: 95%;
  padding-top: 100px;
  padding-bottom: 115px;
}
.main-title {
  font-size: 2.86rem;
}
.trend-now {
  padding-top: 40px;
}
.trend-title {
 font-size: 1.14rem;
}
.trend-wrap {
  flex-wrap: wrap;
}
.trend {
  width: 49%;
  margin-left: 4px;
}
.post-frame {
  padding: 30px 25px;
}
.topic-link {
  font-size: 1.21rem;
}
}
@media (max-width: 640px) {
html {
  font-size: 87.5%;
}
.header {
  background-image: url("../images/banner-mobile.jpg");
}
.logo {
  width: 18.6rem;
}
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 180px;
}
.header-wrap {
  padding-top: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.top-wrap {
  display: flex;
  flex-direction: column-reverse;
} 
.nav-menu {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 
.navigation-lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.blog-title {
  width: 95%;
  padding-top: 30px;
  padding-bottom: 210px; 
}
.main-title {
 font-size: 1.86rem;
}
.trend-now {
  padding-top: 40px;
}
.trend-title {
 font-size: 1.28rem;
}
.trend-wrap {
  flex-wrap: wrap;
}
.trend {
  width: 100%;
}
.post-frame {
  padding: 25px 20px;
}
.topic-link {
  font-size: 1.14rem;
}
}
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
.trend-wrap {
 flex-wrap: wrap;
}
.trend {
  width: 24.5%;
  margin-left: 3px;
}
}
@media (max-width: 640px) and (orientation: landscape) {
.trend-wrap {
 flex-wrap: wrap;
}
.trend { 
  width: 49%;
  margin-left: 4px;
}
}