* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 93.75%;
}
body {
  font-family: open-sans-r, sans-serif;
}
@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 400;
  font-style: bold;
}
@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: 400;
  font-style: bold;
}
@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
 @font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open-sans-bold;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 400;
  font-style: bold;
}
.header {
  background-image: url(../images/banner-bg.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  background-color: #000000;
  z-index: 0;
  padding: 30px 170px;
}
.header:after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
}
.header-wrap {
  max-width: 1200px;
  margin: auto;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}  
.logo {
  width: 12rem;
}
.nav-menu {
  list-style-type: none;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
  display: flex;
} 
.list {
 margin-left: 30px;
}
.link {
 font-size: 0.93rem;
 font-weight: 400;
}
.link, .title-link, .logo-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
} 
.nav-button {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  background-color: transparent;
}
.button-other {
  padding: 1.5px 11.5px;
  border-radius: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
} 
.main-title {
  max-width:730px;
  margin: auto;
  padding:105px 0;
  color: #ffffff;
  line-height: 1.4;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.trend-title {
  font-size: 1.33rem;
  text-align: center;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  padding: 50px 0;
}
.trend-title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
.trend-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.trend-first {
  background-image: url(../images/trend1.jpg);
}
.trend-second {
  background-image: url(../images/trend2.jpg);
}
.trend-third {
  background-image: url(../images/trend3.jpg);
}
.trend-fourth {
  background-image: url(../images/trend4.jpg);
}
.trend {
  width: 24.9%;
  padding: 10rem 1rem 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}
.trend:after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
}
.post-frame {
  width: 89%;
  padding: 32px 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  border: 3px solid #b59f5b;
}
.trend-list {
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 10px;
}
.category, .category-link {
  display: inline-block;
  margin-right: 3px;
  font-size: 0.93rem;
  font-weight: 700;
  color: #b59f5b;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
}
.topic-link {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
}
@media (min-width: 1199px) {
.nav-button {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.trend {
 width: 24.8%;
 }
.trend-first, .trend-second, .trend-third {
  margin-right: 3px;
}
}
@media (min-width: 640px) and (max-width: 1200px) {
html {
  font-size: 87.5%;
}
.header {
  background-image: url(../images/banner-bg-tablet.jpg);
  padding: 45px 35px;
}
.logo {
  width: 11rem;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}  
.nav-menu {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 
.navigation-lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main-title {
  max-width: 610px;
  padding: 100px 0 75px;
  font-size: 2.86rem;
}
.trend-title {
 font-size: 1.14rem;
 padding: 40px 0;
}
.trend {
  width: 49.5%;
}
.trend-first, .trend-third {
  margin-right: 3px;
}
}
@media (max-width: 640px) {
html {
  font-size: 87.5%;
}
.header {
  background-image: url(../images/banner-mobile.jpg);
  padding: 29px 15px;
}
.logo {
  width: 18.6rem;
}
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 180px;
}
.top-wrap {
  display: flex;
  flex-direction: column-reverse;
} 
.nav-menu {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 
.navigation-lists {
  position: absolute;
  top: 23px;
  right: 23px;
}
.main-title {
  max-width: 300px;
  padding: 40px 0 190px;
  font-size: 1.86rem;
}
.trend-title {
 font-size: 1.28rem;
 padding: 40px 0;
}
.trend {
  width: 100%;
}
}
/*Уважаемый Владимир,
Много сомнений:
1.Правильно ли я сделала внутренние отступы?
2.Кнопку бургер? 
Классы не применяла по вашему совету)
Жду от вас конструктивной критики
Спасибо*/




